<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>

      <p>
        Welcome! we're passionate about sharing knowledge, experiences, and
        stories. We're thrilled that you've chosen to explore our corner of the
        internet.
      </p>

      <p>
        Our mission is simple: to inspire, educate, and entertain. We believe
        that the power of words can spark change, provide insights, and build
        connections. Our blog is a place where ideas are shared, experiences are
        cherished, and conversations are encouraged.
      </p>

      <p>
        We are a team of dedicated writers, each with a unique background and a
        shared love for storytelling. Our diverse perspectives enable us to
        cover a wide range of topics, ensuring that there's something here for
        everyone.
      </p>
      <p>
        Our blog covers a broad spectrum of topics. From travel adventures to
        delicious recipes, tech trends to personal development, and so much
        more, we're committed to providing engaging and informative content.
        Whether you're seeking practical advice, thought-provoking insights, or
        simply a good read, you'll find it here.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
